@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
html,body {
	position: relative;
	height: 100%;
  }

*{
				margin: 0;
				padding: 0;
}

body {
/* 	background: url(../images/bg2.gif) no-repeat;
	background-size: cover; */
	background-color: #eee;
	font-family:'Nunito',sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
  }


ul{
	position: relative;
}
ul li{
	
	list-style: none;
	position: absolute;
	transition: all 1s;
	cursor: pointer;
}

ul li img{
	width: 200px;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
}
ul li.checked{
	left: 20% !important;
	top: 200px !important;
	transform: rotate(0deg) translate(-50%,-50%) scale(1.4) !important;
	z-index: 999 !important;
}
/*  */
#qiehuan{
	position: fixed;
	bottom: 1.25rem;
	left: 1.25rem;
}
#qiehuan img{
	width: 4rem;
	height: 4rem;
}

  .swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
  }
  
  
 /*  */
  
  .turntable{
  	position: relative;
  	margin: auto;
  	background: #9CD8BD;
  	width: 310px;
  	height: 280px;
  	display: block;
    margin-top: 2%;
    margin-bottom: 8%;
    border-radius: 5%;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.7);
  }
  
  .record{
  	 width: 200px;
    height: 200px;
     border-radius: 50%;
    /* background: black; */

    position: absolute;
    left: 35px;
    top: 35px;
	
  }
  
 .xuanzhuan{
	 animation: spin 1s infinite linear;
 } 
 
 
@keyframes spin {
  0% {
    transform: none;
  }
  
  100% {
    transform: rotate(360deg);
  }
}

  
  /* .record::before{
  	content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    	width: 180px;
    height: 180px;
    border-radius: 50%;
    background: repeating-radial-gradient(black, black 5px, #1C1C1C 6px, #1C1C1C 7px);
  }
   */
  
  .overlay {
    content: '';
    left: 35px;
    top: 35px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, transparent, 40%, rgba(255,255,255,0.35), 60%, transparent);
    border-radius: 50%;
  }
  
  
  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background: linear-gradient(white, white 50%, #F796A8 50%, #F796A8);
    border-radius: 50%;
  }
  
  
  .inner::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
  }
  
  
  
  .inner::after {
    content: 'Yi Bo';
	font-weight: bolder;
	font-family: castellar sans-serif;
    width: 55px;
    text-align: center;
    font-family: sans-serif;
    font-size: 8px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  
  
  .arm-holder {
    position: absolute;
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    right: 20px;
    top: 40px;
  }
  
  .arm-holder::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #939393;
    border-radius: 50%;
  }
  
  .arm {
    position: absolute;
    right: 13px;
    width: 60px;
    top: 10px;
    height: 110px;
    border: 10px solid #939393;
    transform: skew(-20deg, -20deg);
    transform-origin: top right;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 0 0 30% 0;
    animation: armTwitch 0.5s infinite;
    animation-direction: alternate-reverse;
  }
  
  @keyframes armTwitch {
    0% {
       transform: skew(-20deg, -20deg);
    }
    
    100% {
      transform: skew(-20deg, -20deg) rotate(1deg);
    }
  }
  
  .arm::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 30px;
    background: gray;
    transform: skew(20deg, 20deg) rotate(75deg);
    top: 98px;
    left: -10px;
    border-radius: 20%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  }
  
  
  .dial {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: #333642;
    border-radius: 50%;
  }
  
  .dial::before {
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 2px;
    position: absolute;
    width: 2px;
    height: 5px;
    background: white;
    border-radius: 50%;
  }
  
  
  .dial img{
	  width: 2.1875rem;
	  height: 2.1875rem;
  }
  
.dial:hover,  .dial img:hover{
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}